
*/globals.properties
egovTest/target/classes/egovframework/globals.properties
egovTest/src/main/resources/egovframework/globals.properties
/.metadata/

egovTest/src/main/resources/egovframework/globals.properties
